* {
  margin: 0;
  padding: 0;
  z-index: 1;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbar-custom {
  background-image: linear-gradient(to left, #000000, #202020) !important;
  padding: 0 1.5rem;
}

.navbar-custom a {
  color: white !important;
  font-weight: bold;
}

.logo {
  font-size: 2rem;
  /* margin-left: 1rem; */
}

#login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.center {
  /* background-color: rgba(245, 246, 250,.8); */
  /* width: 300px; */
  /* height: 300px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: .6;
}

.bg-video-content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.welcome {
  color: white;
  text-shadow: 2px 5px 10px black;
}

#home-page, #my-gallery-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  flex-wrap: wrap;
}

.card-custom {
  width: 300px;
  height: 300px;
  padding: 0 !important;
  border-radius: 10px !important;
  box-shadow: 2px 2px 15px black;
  margin: 1rem;
  position: relative;
}

.card-custom img {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
  border-radius: 10px !important;
}

.card-custom .bookmark:hover {
  transform: scale(1);
}
.bookmark {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 40px;
  color: white;
  transition: transform .8s;
  cursor: pointer;
}

.card-custom .trash:hover {
  transform: scale(1);
}
.trash {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 40px;
  color: white;
  transition: transform .8s;
  cursor: pointer;
}

.login-btn{
  width: 100% !important;
  background-color: #202020;
  font-weight: bold;
  cursor: pointer;
  font-weight: bold;
}

.blockquote-custom {
  max-height: fit-content;
  min-width: fit-content;
  position: relative;
  font-size: 0.8rem;
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
}
